body{
	background:  url(../img/whale/restaurant.png);
}

/*modificacion de los colores para nuestro proyecto*/
.bg-primary{
	background-color: rgb(33,33,134) !important;
}

.btn-primary{
	background-color: rgb(33,33,134) !important;
	border-color: rgb(33,33,134) !important;
}
.btn-secondary{
	background-color: rgb(107,111,111) !important;
	border-color: rgb(107,111,111) !important;	
}

.text-bold{
	font-weight: bold;
}
.bg-table{
	background-color: rgba(255,255,255,0.);
}
.color-primary{
	color: rgb(33,33,134);
}
.bg-cards-home{
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
}